

/* App.css */

body {
	font-family: Arial, sans-serif;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
	padding: 20px;
}

h1 {
	color: #333;
	font-size: 36px;
	margin-bottom: 20px;
}
p {
	font-size: 15%;
}

/* Add this CSS to your stylesheets */

/* Add this CSS to your App.css file */
.navbar-nav .nav-link:hover {
	color: #81e8e8; /* Change the color to your preferred hover color */
  }