/* Remove border and make the container size match the cards */

/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #841b1b;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  
}

h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}
p {
 font-size: 15%;
}
 


.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ad0000;

}
.game-card{
background-color: #ad0808;
}

.game-background{
background-color: #ffffff;
}

.coin-display {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007BFF;
  color: #8e1313;
  font-size: 24px; /* Increase the font size for buttons */
  padding: 15px 30px; /* Adjust button padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px; /* Increase the margin-top for buttons */
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}




/* card animations */



